<!-- common header for all pages -->

<div class="main-header">
  <div class="logo-title">
    <a href="/"><i class="fa fa-ravelry logo"></i></a>
    <a href="/">
      <h2> Travel Experts</h2>
    </a>
  </div>
  <!-- navigation items-->
  <nav>
    <!-- button for displaying nav menu in potrait mode -->
    <button class="menu-btn"><i class="fas fa-chevron-circle-down"></i></button>
    <ul>
      <li><a href="/#gallery">Destinations</a></li>
      <li><a href="/#contact">Contact Us</a></li>
      <li><a class="current" href="/login">Login</a></li>
      <li><a href="/register">Sign Up</a></li>
    </ul>
  </nav>
</div>