<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Expert</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla&family=Roboto+Slab&display=swap" rel="stylesheet">

  <%- include('./partials/css-global'); %>

</head>

<body>
  <!-- wrap the whole page inside page-container -->
  <div class="page-container">
    <!-- wrap the content  inside content-container with the exception of footer -->
    <div class="content-container">
      <header>
        <!-- common header for all pages -->
        <%- include('./partials/header'); %>
        <!-- end of header section -->
      </header>

      <main>
        <!-- main content includes a login form in the page center -->
        <div class="login">
          <p class="p-default">Welcome Back. It's time to travel.
          <p>
          <form action="#" method="POST">
            <!-- form fields are within a fieldset -->
            <fieldset class="fieldset_login">
              <legend>Please Login</legend>
              <ul>
                <li>
                  <label class="required" for="emailaddr"> Email </label>
                  <input type="email" name="email" id="emailaddr" required>
                </li>
                <li>
                  <label class="required" for="pwd"> Password </label>
                  <input type="password" name="password" id="pwd" required minlength="8">
                  <p class="pwd-message">Password requires minimum 8 characters</p>
                </li>
                <li>
                  <button class="button-default" type="submit">Continue</button>
                </li>
              </ul>
            </fieldset>
          </form>
        </div>
      </main>
    </div>
    <!-- footer section starts here -->
    <%- include('./partials/foot'); %>
  </div>
  <!-- javascript link -->
  <%- include('./partials/gallery-js'); %>
</body>

</html>